@import "fonts.css";
@import "menu-button.css";

.root {
    -fx-background-color: #242424;
    -fx-font-family: "TWKEverett-Regular", "Lucida Console";
}

.label {
    -fx-text-fill: #0abc10;
}

#cpRightPhotographer, #dateAPOD, #explanationAPOD, #titleAPOD {
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-text-fill: #fff;
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #242424;
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-padding: 10px 15px;
}