@import "fonts.css";
@import "menu-button.css";

.root {
    -fx-background-color: #242424;
    -fx-font-family: "TWKEverett-Regular", "Lucida Console";
}

.label {
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-text-fill: #fff;
}

#apodTitle {
    -fx-text-fill: #0abc10;
}

#saveActionToast {
    -fx-font-family: "TWKEverett-BoldItalic", "Lucida Console";
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #242424;
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-padding: 15px;
}

.full-screen-btn {
    -fx-background-color: #cdc9c9;
    -fx-padding: 15px;
}