@import "fonts.css";

.root {
    -fx-background-color: #242424;
    -fx-font-family: "TWKEverett-Regular", "Lucida Console";
}

.label {
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-text-fill: #fff;
}

#apodTitle {
    -fx-text-fill: #0abc10;
}

.menu-button {
    -fx-padding: 0 15px;
    -fx-background-color: #fff;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: #0abc10;
}

.context-menu {
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.button {
    -fx-background-color: #fff;
    -fx-text-fill: #242424;
    -fx-font-family: "TWKEverett-Bold", "Lucida Console";
    -fx-padding: 15px;
}

.full-screen-btn {
    -fx-background-color: #cdc9c9;
    -fx-padding: 15px;
}